.profile-img-card {
    width: 130px;
    height: 130px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#login{
    max-width: 450px;
}

#footer{
    max-width: 450px;
}